<main id="main">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Asset</th>
          <th>Asset</th>
          <th>Inventory Method</th>
          <th>cap.date</th>
          <th>Assest description</th>
          <th>SN</th>
          <th>User</th>
          <th>location Inventaire</th>
          <th>Remarque</th>
          <th>cc</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1193000173-0</td>
          <td>1193000173-0</td>
          <td>TO BE SCANNED</td>
          <td>01/01/2012</td>
          <td>1 Sagem biometric Therminal MA500</td>
          <td>12470113</td>
          <td>Magasin IT</td>
          <td>Magasin IT</td>
          <td>Magasin IT ( to be scrapped)</td>
          <td>9310070600</td>
          <td></td>
          
          
      
    
        </tr>
        <tr>
          <td>2</td>
          <td>1193000174-0</td>
          <td>1193000174</td>
          <td>TO BE SCANNED</td>
          <td>01/01/2012</td>
          <td>1 Sagem biometric Therminal MA500</td>
          <td>A verifier le S/N</td>	
          
          <td> Magasin IT</td>
           
       
          <td>Magasin IT ( to be scrapped)</td>
          <td></td>
          <td> 9310070600</td>	
           
        </tr>
        <tr>
          <td>3</td>
          <td>1193000663-0</td>
          <td> 1193000663</td>
    
          <td>IMPAIRMENT TEST</td>
          <td>30/06/2015</td>
          <td>system for monotoring for humidity in server room</td>
          <td>IMS-1002-INT 00:07:F9:00:72:52</td>
          <td>License , existe</td>
          <td>SAL SERV</td>
          <td></td>
          <td>9310021010</td>
        </tr>
        <tr>
          <td>4</td>
          <td>1193000664-0</td>
          <td>1193000664</td>
          <td>TO BE SCANNED</td>
          <td>31/08/2015</td>
          <td>fire proof door for room ups</td>
          <td>no Serial Number</td>
          <td>Scanner par Med amine( doors salle serveur)</td>
          <td></td>
          <td>9310070600</td>
          





<div>