<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/image002.gif" alt=""> <span class="d-none d-lg-block"> Bienvenue dans YAZAKI</span> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Connectez-Vous</h5>
                            <p class="text-center small">Entrez votre matricule & mot de passe</p>
                         </div>
                         <form class="row g-3 needs-validation" novalidate [formGroup]="formLogin" (ngSubmit)="login()">
                            <div class="col-12">
                               <label for="yourUsername" class="form-label">Matricule</label>
                               <div class="input-group has-validation">
                                  <span class="input-group-text" id="inputGroupPrepend">**</span> <input type="email" name="username" class="form-control" id="yourUsername" required type="email" placeholder="Adresse e-mail" formControlName="email" class="text-dark"
                                  [ngClass]="{ 'is-invalid': isFormSubmitted && loginControls['email'].errors }" />
                                <div *ngIf="isFormSubmitted && loginControls['email'].errors" class="invalid-feedback">
                                  <div *ngIf="loginControls['email'].errors['required']"> Vous devez renseigner ce champ</div>
                                  <div *ngIf="loginControls['email'].errors['email']"> Adresse email non valide</div>
                                </div>
                                  <div class="invalid-feedback">Entrez votre matricule.</div>
                               </div>
                            </div>
                            <div class="col-12">
                               <label for="yourPassword" class="form-label">Mot de passe</label> 
                               <div class="input-group has-validation">
                               <span class="input-group-text" id="inputGroupPrepend">**</span><input type="password" name="password" class="form-control" id="yourPassword"  required formControlName="password" class="text-dark"
                               [ngClass]="{ 'is-invalid': isFormSubmitted && loginControls['password'].errors }" />
                             <div *ngIf="isFormSubmitted && loginControls['password'].errors" class="invalid-feedback">
                               <div *ngIf="loginControls['password'].errors['required']"> Vous devez renseigner ce champ</div>
                             </div>
                               <div class="invalid-feedback">Entrez votre mot de passe.</div>
                            </div>
                           </div>
                            <div class="col-12"> <button class="btn btn-outline-primary w-100"  type="submit">Login</button></div>
                            <div class="col-12">
                               <p class="small mb-0">Vous n'avez pas de compte? <a routerLink="/signup">S'inscrire</a></p>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>