<aside id="sidebar" class="sidebar">
   <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item"> <a class="nav-link " routerLink="/admin"> <i class="bi bi-grid"></i>
            <span>Dashboard</span> </a></li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"
            routerLink="/admin/mat"> <i class="bi bi-menu-button-wide"></i><span>Matriels</span> </a>
      </li>
 
    

      
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/amal"> <i class="bi bi-card-list"></i>
            <span>demande</span> </a></li>
      
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/commande"> <i
               class="bi bi-menu-button-wide"></i> <span>commande</span> </a></li>
               <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/Scrapes"> <i class= "bi bi-menu-button-wide"></i>
                  <span>Scrapes</span> </a></li>
   </ul>
</aside>