
<main id="main">
  <div class="card-body">
  <figure class="text-center">
    <blockquote class="blockquote">
      <i class="bi bi-pc-display-horizontal"></i>
     <h1><p class="text">Demande D'un pc</p></h1> 
    </blockquote>
  </figure>
    <i class="bi bi-calendar-check"></i>
    <input type="" value="01/01/2015" data-provide="datepicker">
    <span class="icon icon-calendar"></span>
  <div class="col">
    <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="prenom" aria-label="prenom">
  </div>
<div class="col">
  <input type="text" class="form-control" placeholder="Fonction" aria-label="Fonction">
</div>

<div class="form-floating">
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
    <option selected>Departement</option>
    <option value="1">P3</option>
    <option value="2">P1</option>
    <option value="3">TD</option>
    <option value="3">RH</option>
    <option value="3">Logistique</option>
    <option value="3">Nys</option>
    <option value="3">Achat</option>
    <option value="3">Finance</option>
    <option value="3">Qualite</option>
    <option value="3">EHS</option>
  </select>
</div>
<div class="form-floating">
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
    <option selected>equipement</option>
    <option value="1">pc de bureau</option>
    <option value="2">pc portable</option>
  </select>
</div>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Motif</label>
</div>
<div class="col-12"> <button class="btn btn-outline-primary w-100"  type="submit">valide</button></div>
  <div class="col-12">
  </div>
  </div>
  <div class="card-body">
    <figure class="text-center">
      <blockquote class="blockquote">
        <i class="bi bi-pc-display-horizontal"></i>
       <h1><p class="text">Demande D’un PC  Provisoire </p></h1>
      </blockquote>
    </figure>
    <div class="col">
      <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="prenom" aria-label="prenom">
    </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Fonction" aria-label="Fonction">
  </div>
  <div class="form-floating">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option selected>Departement</option>
      <option value="1">P3</option>
      <option value="2">P1</option>
      <option value="3">TD</option>
      <option value="3">RH</option>
      <option value="3">Logistique</option>
      <option value="3">Nys</option>
      <option value="3">Achat</option>
      <option value="3">Finance</option>
      <option value="3">Qualite</option>
      <option value="3">EHS</option>
    </select>
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option selected>equipement</option>
        <option value="1">pc de bureau</option>
        <option value="2">pc portable</option>
      </select>
      <div class="form-floating">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
          <option selected>equipement</option>
          <option value="1">pc de bureau</option>
          <option value="2">pc portable</option>
        </select>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Motif</label>
      </div>
      <div class="col-12"> <button class="btn btn-outline-primary w-100"  type="submit">valide</button></div>
        <div class="col-12">
        </div>
        </div>
        <i class="bi bi-calendar-check"></i>
        <input type="" value="01/01/2015" data-provide="datepicker">
        <span class="icon icon-calendar"></span>
        <div class="card-body">
          <figure class="text-center">
            <blockquote class="blockquote">
              <i class="bi bi-pc-display-horizontal"></i>
             <h1><p class="text">Demande D’une ligne téléphonique & Internet</p></h1>
            </blockquote>
          </figure>
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="prenom" aria-label="prenom">
          </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Fonction" aria-label="Fonction">
        </div>
        <div class="form-floating">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Departement</option>
            <option value="1">P3</option>
            <option value="2">P1</option>
            <option value="3">TD</option>
            <option value="3">RH</option>
            <option value="3">Logistique</option>
            <option value="3">Nys</option>
            <option value="3">Achat</option>
            <option value="3">Finance</option>
            <option value="3">Qualite</option>
            <option value="3">EHS</option>
          </select>
          <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>equipement</option>
              <option value="1">Ligne GSM</option>
              <option value="2">Appareil Téléphonique</option>
              <option value="1">Clé 3G/4G</option>
            </select>
  </div>
      
   
   
    

 